<h1>Product Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @product_types.each do |product_type| %>
      <tr>
        <td><%= product_type.name %></td>
        <td>
          <%= link_to 'Show', product_type_path(product_type), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_product_type_path(product_type), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', vendor_path(vendor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Vendor', new_vendor_path, class: 'btn btn-success' %>
